<%- include('partials/head') %> 

    <h2>O-Coffee : L'essence même de la perfection dans chaque tasse !</h2>

<div class="container">

<div class="presentation">

    <p>Découvrez O-Coffee, le paradis pour les amateurs de café ! Depuis deux décennies, O-Coffee est une destination incontournable pour les connaisseurs de café en quête d'une expérience gustative exceptionnelle. Notre sélection soigneusement élaborée offre un éventail de cafés d'exception, provenant des quatre coins du globe, torréfiés avec passion pour révéler toute leur richesse aromatique.

    Que vous préfériez les notes fruitées d'un café africain ou la profondeur d'un arabica d'Amérique du Sud, notre gamme variée saura satisfaire vos papilles les plus exigeantes. En ligne, la plateforme conviviale d'O-Coffee vous permet de parcourir aisément nos différentes variétés, de sélectionner vos grains préférés, et de les recevoir directement chez vous, fraîchement torréfiés.
    
    Pour une expérience sensorielle complète, visitez nos boutiques O-Coffee où nos baristas experts se feront un plaisir de vous conseiller et de préparer votre café sur mesure, dans une atmosphère chaleureuse et accueillante. Rejoignez-nous dans notre passion pour le café et laissez-vous envoûter par l'arôme envoûtant de nos cafés d'exception, une tradition qui perdure depuis deux décennies.
.   </p>

<a href="/catalogue">VOIR LES PRODUITS</a>

</div>

<div>
    <img class="img-accueil" src="/images/about.jpg" alt=""> <!-- ex img-coffee-->
</div>

</div>

<div class="novelty">

    <div class="new-coffee">
        <% for (let id = 0; id < 3; id++) { %>
        <img class="imgCatalogue" src="/images/<%= coffees[id].name %>.png" alt="Café">
        <h2><%= coffees[id].name %></h2>
        <p>P<%= coffees[id].price %></p>
        <p><%= coffees[id].description %></p>
        <a href="/article/<%= coffees[id].id %>">Voir le produit</a>
    <% } %>
    </div>

</div>

<%- include('partials/foot') %> 



    


