<%- include('partials/head') %> 

<section class="sectionCatalogue">
<div class="divCatalogue">
        <% for (const coffee of coffees)  { %>
        <img src="/images/<%= coffee.name %>.png" alt="Café">
        <h2><%= coffee.name %></h2>
        <p>Prix : <%= coffee.price %></p>
        <p>Description : <%= coffee.description %></p>
        <p>Origine : <%= coffee.origine %></p>
        <p>Intensité : <%= coffee.intensity %></p>
    <% } %>
        </div>
    </section> 
<%- include('partials/foot') %> 